.app {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: #fcf9ee;
}

.h-section {
  padding-top: 8vw;
  padding-right: 10vw;
  padding-left: 23.5vw;
  transition: 0.3s;
}

@media screen and (max-width: 991px) {
  .h-section {
    padding-top: 12vw;
    padding-left: 18vw;
  }
}

@media screen and (max-width: 479px) {
  .h-section {
    padding-top: 23vw;
    padding-left: 8vw;
  }
}

.h-wrap {
  display: flex;
  overflow: hidden;
  padding-right: 0.8vw;
  justify-content: flex-end;
}

.head-1 {
  display: inline-block;
  padding-right: 0;
  text-align: right;
}

@media screen and (max-width: 991px) {
  .head-1 {
    font-size: 15vw;
    line-height: 12.5vw;
  }
}

@media screen and (max-width: 479px) {
  .head-1 {
    font-size: 17vw;
    line-height: 16vw;
  }
}

.head-1.h-virg {
  margin-left: 1.8vw;
  line-height: 12vw;
}

.head-1.h-var-1 {
  position: relative;
  left: 0.5vw;
  padding-right: 0.6vw;
  padding-left: 0;
}
.h-contents {
  display: flex;
  justify-content: flex-start;
}

.h-wrap.hw-2 {
  position: relative;
  display: flex;
  margin-top: -0.9vw;
}

.head-1.h-var {
  margin-left: -0.1vw;
}

.head-1.h-var-2 {
  margin-right: -0.4vw;
  margin-left: -0.5vw;
  padding-right: 0;
}

.div-block-27 {
  position: relative;
  left: 1vw;
  top: 1vw;
}
.text-block-16 {
  font-size: 4vw;
  line-height: 3.5vw;
  text-align: right;
  letter-spacing: -0.07em;
}

@media screen and (max-width: 479px) {
  .text-block-16 {
    font-size: 5vw;
    line-height: 4vw;
  }
}

.i-section {
  position: relative;
  display: flex;
  padding-top: 2vw;
  padding-right: 10vw;
  padding-left: 23.5vw;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
@media screen and (max-width: 991px) {
  .i-section {
    padding-left: 18vw;
  }
}
@media screen and (max-width: 479px) {
  .i-section {
    padding-left: 8vw;
  }
}

.i-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.i-container {
  position: relative;
  width: 32vw;
  height: 45.4vw;
}

@media screen and (max-width: 991px) {
  .i-container {
    width: 34.5vw;
    height: 49.5vw;
  }
}

.i-container {
  width: 39.5vw;
  height: 57vw;
}
.standard-wrap {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 100%;
  border: 3px solid #000;
}

@media screen and (max-width: 479px) {
  .ink-wrap,
  .standard-wrap {
    border-width: 2px;
  }
}

.i-standard {
  width: 31.9vw;
  height: 100%;
  max-width: 31.9vw;
  position: relative;
  transform: rotate(0);
}
@media screen and (max-width: 991px) {
  .i-standard {
    width: 34.5vw;
    max-width: 34.5vw;
  }
}

@media screen and (max-width: 479px) {
  .i-standard {
    width: 39.5vw;
    max-width: 39.5vw;
  }
}

.ink-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #000;
}

#ink-wrapper-1,
#ink-wrapper-2 {
  display: none;
}

.i-caption {
  display: flex;
}

.caption-wrap {
  padding-top: 0.5vw;
  padding-bottom: 0.7vw;
  flex: 1;
}
@media screen and (max-width: 991px) {
  .caption-wrap {
    padding-top: 0.9vw;
  }
}

@media screen and (max-width: 479px) {
  .caption-wrap {
    padding-top: 1.2vw;
  }
}
.caption {
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .caption {
    font-size: 1.5vw;
    line-height: 1.5vw;
  }
}
@media screen and (max-width: 479px) {
  .caption {
    font-size: 3vw;
    line-height: 2.4vw;
  }
}
.scotch-tape {
  position: absolute;
  z-index: 2;
  mix-blend-mode: multiply;
  pointer-events: none;
}
.s-tape {
  width: 14vw;
}

@media screen and (max-width: 479px) {
  .s-tape {
    width: 18vw;
  }
}

.i-container.ic-2 {
  margin-left: 2.5vw;
}

.l-wrap {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .l-wrap {
    margin-top: 8vw;
  }
}

@media screen and (max-width: 479px) {
  .l-wrap {
    margin-top: 7vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
}

.link-wrap {
  position: relative;
  right: 5.5vw;
  margin-right: 1vw;
}

@media screen and (max-width: 991px) {
  .link-wrap {
    margin-right: 3vw;
  }
}
@media screen and (max-width: 479px) {
  .link-wrap {
    right: 9.6vw;
  }
}
.l-link {
  display: inline-block;
  font-size: 1.5vw;
  line-height: 1.5vw;
  letter-spacing: -0.05em;
}

@media screen and (max-width: 991px) {
  .l-link {
    font-size: 2vw;
    line-height: 2vw;
  }
}

@media screen and (max-width: 479px) {
  .l-link {
    padding-right: 0.4vw;
    font-size: 4vw;
    line-height: 4vw;
  }
}

@media screen and (max-width: 991px) {
  .underline-effect {
    display: none;
  }
}

.link-wrap::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: #141313;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}
.link-wrap:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.lerp-wrap {
  position: absolute;
  display: flex;
  width: 80px;
  height: 72px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .lerp-wrap {
    width: 7vw;
    height: 7vw;
  }
}

@media screen and (max-width: 479px) {
  .lerp-wrap {
    width: 11vw;
    height: 11vw;
  }
}
.lerp-wrap {
  cursor: pointer;
  touch-action: manipulation;
}

.circle {
  position: absolute;
  width: 5vw;
  height: 5vw;
  max-width: 5vw;
}

@media screen and (max-width: 991px) {
  .circle {
    width: 7vw;
    height: 7vw;
    max-width: 7vw;
  }
}
@media screen and (max-width: 479px) {
  .circle {
    width: 11vw;
    height: 11vw;
    max-width: 11vw;
  }
}

.arrow {
  position: absolute;
  width: 2.5vw;
  height: 2.5vw;
}

@media screen and (max-width: 991px) {
  .arrow {
    width: 4vw;
    height: 4vw;
  }
}

@media screen and (max-width: 479px) {
  .arrow {
    width: 6vw;
    height: 6vw;
  }
}

.c-section {
  padding-top: 10vw;
  padding-bottom: 7vw;
}

@media screen and (max-width: 479px) {
  .c-section {
    padding-bottom: 12vw;
  }
}
.c-marquee {
  position: relative;
  display: flex;
  height: 5vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .c-marquee,
  .c-marquee-wrap {
    height: 8vw;
  }
}

.c-marquee-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  display: flex;
  width: 100%;
  height: 5vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-marquee-item {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  border-style: solid none;
  border-width: 0.2vw;
  border-color: #000;
  background-color: #ddc92a;
}

@media screen and (max-width: 479px) {
  .c-marquee-item {
    border-top-width: 0.4vw;
    border-bottom-width: 0.4vw;
  }
}
.c-marquee-text {
  display: flex;
}

.c-marquee-text {
  animation: indexMarquee 15s infinite linear;
}
@keyframes indexMarquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.c-marquee-content {
  display: flex;
  width: 40vw;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .c-marquee-content {
    width: 65vw;
  }
}

.c-marquee-heading {
  font-size: 2.5vw;
  line-height: 2.5vw;
  letter-spacing: -0.06em;
}

@media screen and (max-width: 479px) {
  .c-marquee-heading {
    font-size: 4vw;
    line-height: 4vw;
  }
}

.e-section {
  padding-top: 10vw;
  padding-bottom: 10vw;
  padding-left: 11.2vw;
}

.e-section.quote {
  padding-right: 10vw;
  padding-left: 23.5vw;
}

@media screen and (max-width: 991px) {
  .e-section.quote {
    padding-left: 18vw;
  }
}

@media screen and (max-width: 479px) {
  .e-section.quote {
    padding-top: 17vw;
    padding-bottom: 17vw;
    padding-left: 8vw;
  }
}

.e-outer {
  overflow: hidden;
}

.e-outer:first-child {
  display: flex;
}

.e-aside {
  display: inline-block;
  margin-top: 1vw;
  font-size: 1.5vw;
  line-height: 1.5vw;
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .e-aside {
    font-size: 2vw;
    line-height: 2vw;
  }
}

@media screen and (max-width: 479px) {
  .e-aside {
    font-size: 3.5vw;
    line-height: 3vw;
  }
}

.e-heading {
  display: inline-block;
  line-height: 4.57vw;
  font-weight: 400;
  text-transform: none;
}

.eh-link {
  margin-left: 0.2vw;
  font-size: 4.2vw;
  line-height: 4vw;
  letter-spacing: -0.06em;
  text-transform: none;
  text-decoration: underline;
}

.e-heading.eh-1 {
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .e-heading,
  .eh-link {
    font-size: 4.8vw;
    line-height: 4.8vw;
  }
}

@media screen and (max-width: 767px) {
  .e-heading,
  .e-heading.eh-1,
  .eh-link {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 479px) {
  .e-heading {
    font-size: 5.4vw;
    line-height: 6vw;
  }
  .e-heading.eh-1 {
    font-size: 5.4vw;
  }

  .eh-link {
    font-size: 5.4vw;
    line-height: 5.4vw;
  }
}
.s-section {
  padding-left: 23.5vw;
}

@media screen and (max-width: 991px) {
  .s-section {
    padding-left: 18vw;
  }
}

@media screen and (max-width: 479px) {
  .s-section {
    padding-left: 8vw;
  }
}
.w-dyn-empty {
  padding: 10px;
  background-color: #ddd;
}
.l-wrap.l-lerp {
  padding-right: 10vw;
}
.r-section {
  padding-top: 10vw;
  padding-right: 10vw;
  padding-bottom: 15vw;
  align-items: center;
  display: flex;
}
@media screen and (max-width: 479px) {
  .r-section {
    padding-top: 18vw;
    padding-right: 8vw;
    padding-bottom: 18vw;
  }
}
.r-content {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 991px) {
  .r-content {
    padding-left: 3vw;
    justify-content: center;
  }
}

@media screen and (max-width: 991px) {
  .r-content {
    padding-left: 3vw;
    justify-content: center;
  }
}

.r-wrap-1 {
  position: relative;
  display: inline-block;
  width: 21vw;
}
@media screen and (max-width: 991px) {
  .r-wrap-1 {
    width: 33vw;
  }
}
@media screen and (max-width: 479px) {
  .r-wrap-1 {
    width: 33vw;
  }
}
.virgolette {
  width: 7.5vw;
}
@media screen and (max-width: 991px) {
  .virgolette {
    width: 12vw;
  }
}

@media screen and (max-width: 479px) {
  .virgolette {
    width: 15vw;
  }
}
.reviewer-grid {
  position: absolute;
  left: 3.2vw;
  top: 1.2vw;
  display: inline-block;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .reviewer-grid {
    top: 2.4vw;
  }
}

@media screen and (max-width: 479px) {
  .reviewer-grid {
    top: 3.7vw;
  }
}

.reviewer-wrap {
  position: relative;
  overflow: hidden;
  height: 5vw;
}

@media screen and (max-width: 991px) {
  .reviewer-wrap {
    height: 6vw;
  }
}
@media screen and (max-width: 479px) {
  .reviewer-wrap {
    height: 7vw;
  }
}
.reviewer-inner {
  height: 9vw;
  animation: 2s alternate infinite moveVertical;
}

@keyframes moveVertical {
  1% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(0);
  }
  66% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@media screen and (max-width: 479px) {
  .reviewer-inner {
    height: 13vw;
  }
}

@media screen and (max-width: 479px) {
  .reviewer-inner {
    height: 13vw;
  }
}
.reviewer {
  display: inline-block;
  padding-right: 2vw;
  padding-left: 0.4vw;
  font-size: 3.5vw;
  line-height: 4.5vw;

  text-transform: none;
}

.reviewer:first-child {
  animation: 2s alternate infinite fadeOut;
  opacity: 1;
}
.reviewer:last-child {
  animation: 2s alternate infinite fadeIn;
  opacity: 0;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 991px) {
  .reviewer {
    font-size: 5.4vw;
    line-height: 5.4vw;
  }
}
@media screen and (max-width: 479px) {
  .reviewer {
    font-size: 5vw;
    line-height: 6vw;
  }
}
.r-wrap-2 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 7vw;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
}

@media screen and (max-width: 991px) {
  .r-wrap-2 {
    top: 1vw;
    height: 7.5vw;
  }
}
@media screen and (max-width: 479px) {
  .r-wrap-2 {
    height: 14.5vw;
  }
}

.r-inner {
  display: flex;
  height: 14.3vw;
  max-width: 24vw;
  flex-direction: column;
}
@media screen and (max-width: 991px) {
  .r-inner {
    height: 17vw;
    max-width: 36vw;
  }
}
@media screen and (max-width: 479px) {
  .r-inner {
    height: 29vw;
    max-width: 52vw;
  }
}

.review {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  padding-bottom: 0;
  font-size: 1.2vw;
  line-height: 1.4vw;
  text-transform: none;
}
@media screen and (max-width: 991px) {
  .review {
    font-size: 1.8vw;
    line-height: 1.7vw;
  }
}
@media screen and (max-width: 479px) {
  .review {
    font-size: 2.8vw;
    line-height: 2.8vw;
  }
}
