.app {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: #fcf9ee;
}

.h-section {
  padding-top: 8vw;
  padding-right: 10vw;
  padding-left: 23.5vw;
  transition: 0.3s;
}

@media screen and (max-width: 991px) {
  .h-section {
    padding-top: 12vw;
    padding-left: 18vw;
  }
}

@media screen and (max-width: 479px) {
  .h-section {
    padding-top: 23vw;
    padding-left: 8vw;
  }
}

.h-wrap {
  display: flex;
  overflow: hidden;
  padding-right: 0.8vw;
  justify-content: flex-end;
}

.head-1 {
  display: inline-block;
  padding-right: 0;
  text-align: right;
}

@media screen and (max-width: 991px) {
  .head-1 {
    font-size: 15vw;
    line-height: 12.5vw;
  }
}

@media screen and (max-width: 479px) {
  .head-1 {
    font-size: 17vw;
    line-height: 16vw;
  }
}

.head-1.h-virg {
  margin-left: 1.8vw;
  line-height: 12vw;
}

.head-1.h-var-1 {
  position: relative;
  left: 0.5vw;
  padding-right: 0.6vw;
  padding-left: 0;
}
.h-contents {
  display: flex;
  justify-content: flex-start;
}

.h-wrap.hw-2 {
  position: relative;
  display: flex;
  margin-top: -0.9vw;
}

.head-1.h-var {
  margin-left: -0.1vw;
}

.head-1.h-var-2 {
  margin-right: -0.4vw;
  margin-left: -0.5vw;
  padding-right: 0;
}

.div-block-27 {
  position: relative;
  left: 1vw;
  top: 1vw;
}
.text-block-16 {
  font-size: 4vw;
  line-height: 3.5vw;
  text-align: right;
  letter-spacing: -0.07em;
}

@media screen and (max-width: 479px) {
  .text-block-16 {
    font-size: 5vw;
    line-height: 4vw;
  }
}

.i-section {
  position: relative;
  display: flex;
  padding-top: 2vw;
  padding-right: 10vw;
  padding-left: 23.5vw;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
@media screen and (max-width: 991px) {
  .i-section {
    padding-left: 18vw;
  }
}
@media screen and (max-width: 479px) {
  .i-section {
    padding-left: 8vw;
  }
}

.i-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.i-container {
  position: relative;
  width: 32vw;
  height: 45.4vw;
}

@media screen and (max-width: 991px) {
  .i-container {
    width: 34.5vw;
    height: 49.5vw;
  }
}

.i-container {
  width: 39.5vw;
  height: 57vw;
}
.standard-wrap {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 100%;
  border: 3px solid #000;
}

@media screen and (max-width: 479px) {
  .ink-wrap,
  .standard-wrap {
    border-width: 2px;
  }
}

.i-standard {
  width: 31.9vw;
  height: 100%;
  max-width: 31.9vw;
  position: relative;
  transform: rotate(0);
}
@media screen and (max-width: 991px) {
  .i-standard {
    width: 34.5vw;
    max-width: 34.5vw;
  }
}

@media screen and (max-width: 479px) {
  .i-standard {
    width: 39.5vw;
    max-width: 39.5vw;
  }
}

.ink-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #000;
}

#ink-wrapper-1,
#ink-wrapper-2 {
  display: none;
}

.i-caption {
  display: flex;
}

.caption-wrap {
  padding-top: 0.5vw;
  padding-bottom: 0.7vw;
  flex: 1;
}
@media screen and (max-width: 991px) {
  .caption-wrap {
    padding-top: 0.9vw;
  }
}

@media screen and (max-width: 479px) {
  .caption-wrap {
    padding-top: 1.2vw;
  }
}
.caption {
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .caption {
    font-size: 1.5vw;
    line-height: 1.5vw;
  }
}
@media screen and (max-width: 479px) {
  .caption {
    font-size: 3vw;
    line-height: 2.4vw;
  }
}
.scotch-tape {
  position: absolute;
  z-index: 2;
  mix-blend-mode: multiply;
  pointer-events: none;
}
.s-tape {
  width: 14vw;
}

@media screen and (max-width: 479px) {
  .s-tape {
    width: 18vw;
  }
}

.i-container.ic-2 {
  margin-left: 2.5vw;
}

.l-wrap {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .l-wrap {
    margin-top: 8vw;
  }
}

@media screen and (max-width: 479px) {
  .l-wrap {
    margin-top: 7vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
}

.link-wrap {
  position: relative;
  right: 5.5vw;
  margin-right: 1vw;
}

@media screen and (max-width: 991px) {
  .link-wrap {
    margin-right: 3vw;
  }
}
@media screen and (max-width: 479px) {
  .link-wrap {
    right: 9.6vw;
  }
}
.l-link {
  display: inline-block;
  font-size: 1.5vw;
  line-height: 1.5vw;
  letter-spacing: -0.05em;
}

@media screen and (max-width: 991px) {
  .l-link {
    font-size: 2vw;
    line-height: 2vw;
  }
}

@media screen and (max-width: 479px) {
  .l-link {
    padding-right: 0.4vw;
    font-size: 4vw;
    line-height: 4vw;
  }
}

@media screen and (max-width: 991px) {
  .underline-effect {
    display: none;
  }
}

.link-wrap::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: #141313;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}
.link-wrap:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.lerp-wrap {
  position: absolute;
  display: flex;
  width: 80px;
  height: 72px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .lerp-wrap {
    width: 7vw;
    height: 7vw;
  }
}

@media screen and (max-width: 479px) {
  .lerp-wrap {
    width: 11vw;
    height: 11vw;
  }
}
.lerp-wrap {
  cursor: pointer;
  touch-action: manipulation;
}

.circle {
  position: absolute;
  width: 5vw;
  height: 5vw;
  max-width: 5vw;
}

@media screen and (max-width: 991px) {
  .circle {
    width: 7vw;
    height: 7vw;
    max-width: 7vw;
  }
}
@media screen and (max-width: 479px) {
  .circle {
    width: 11vw;
    height: 11vw;
    max-width: 11vw;
  }
}

.arrow {
  position: absolute;
  width: 2.5vw;
  height: 2.5vw;
}

@media screen and (max-width: 991px) {
  .arrow {
    width: 4vw;
    height: 4vw;
  }
}

@media screen and (max-width: 479px) {
  .arrow {
    width: 6vw;
    height: 6vw;
  }
}
